html, body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

.layout {
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.content {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}
